
<%= form_tag import_city_companies_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import CSV" %>
<% end %>

Number of companies
<%= @companies.count %>

<%= link_to 'Edit booklet', city_company_booklet_path %>
<%= link_to 'Edit floorplan', city_company_floorplan_path %>


<ul>
<% @companies.each do |company| %> 

  <li><%= link_to company.name, edit_city_company_path(@city, company) %></li>
<% end %>
</ul>