
All signs

<% @wayfindings.each do |wayfinding| %> 
  <ul>
    <li><%= wayfinding.first_content %></li>
    <li><%= wayfinding.second_content %></li>
    <li><%= wayfinding.third_content %></li>
  </ul>
    <p><%= link_to 'edit', edit_city_wayfinding_path(@city, wayfinding) %><p>
<% end %>


<%= link_to 'new', new_city_wayfinding_path %>
